.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  grid-template-rows: repeat(3, 100px); /* 3 rows with height of 100px */
  grid-gap: 10px;
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: rgb(240, 215, 240);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#players {
  display: flex; /* Add flex display to the table container */
  justify-content: space-between; /* Adjust as needed for spacing */
}

.cardImages {
  height: 60px;
}

.player--1 {
  width: 100px;
}

.player--2 {
  width: 100px;
}

#community-cards {
  display: flex; /* Add flex display to the table container */
  justify-content: space-around;
}

#betting-buttons {
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
}

#betting-buttons {
  position: absolute;
  bottom: 10px; /* Adjust as needed to control vertical position */
  right: 10px; /* Adjust as needed to control horizontal position */
}

.hidden {
  display: none;
}
